*{
    font-family: 'Poppins', sans-serif;
}
.avaliacao{
    display: flex; 
    padding: 0px;  
}
.star-icon{
    list-style-type: none;
    border: 4px solid #fff;
    cursor: pointer;
    color: gold;
}
.star-icon::before{
  content: "\2605";
  font-size: 20px;
}
.star-icon.ativo ~.star-icon::before{
    content: "\2606";
}
.avaliacao:hover .star-icon::before{
    content: "\2605";;
}
.star-icon:hover ~.star-icon::before{
    content: "\2606";;
}
.box-load{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 54);
    display: flex;
}
.contento{
    display: none;
}
.box-load p{
    padding-top: 20px;
    color: white;
    font-size: 20px;
}
.pre{
    width: 80px;
    height: 80px;
    background-image: url("images/load.png");
    background-position: center;
    background-size: contain;
    animation: load 2s infinite linear;
}
@keyframes load{
    to{transform: rotate(360deg)}
}
.scrollTop{
    outline: none;
    border: 0;
    background-color: gold;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    box-shadow: 1px 1px 4px white; 
    animation: jump 1s linear infinite;
}
#navega .carro{
    animation: jumpe 1s linear infinite;
}
.ola img{
    align-items: center;
    width: 30%;
    height: 30%;
}
@keyframes loade {
    from{transform: translateY(-12px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-12px);}
}
@keyframes jumpes {
    from{transform: translateY(-8px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-8px);}
}
@keyframes jumpe {
    from{transform: translateY(-3px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-3px);}
}
@keyframes jump {
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-15px);}
}
.scrollTop.active{
    opacity: 1;
    visibility: visible;
}
.scrollTop img{
    width: 50px;
    transform: rotate(720deg);
}
#navega{
    width: 100vw;
    z-index: 9999;
    position: fixed;
}
#navega ul li a:hover{
    padding-top: 5px;
    color: gold;
}
#navega ul li a{
    padding-right: 25px;
}
#navega ul .dropdown-menu{
    padding-right: 20px;
    color: black;
}
#polaroid .carousel-inner img{
    width: 90vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    background-size: cover;
}
#comida{
    background-color:rgb(252, 252, 248);
    padding: 40px;
}
#rodape7 {
    text-align: center;
    background-color:goldenrod;
    padding: 20px;
}
#por {
    text-align: center;
    background-color: goldenrod;
    padding-left: 80px;
}
#rodape {
    background-color:rgb(252, 252, 248);
    color: black;
    padding: 10px;
    width: 100%;
    height: 75vh;
    text-align: center;
}
#rodape iframe{
    box-shadow: 0 5px 7px rgb(65, 65, 65);
}
#contactos{
    background-color:rgb(252, 252, 248);;
    color: black;
    display: grid;
    padding-top: 40px;
    padding-bottom: 25px;
    height: 100%;
    text-align: center;
}
#comentario{
    background-color:rgb(252, 252, 248);;
    color: black;
    display: grid;
    padding-top: 70px;
    padding-bottom: 5px;
    height: 100%;
    text-align: center;
}
#comentario #comentes{
    padding-bottom: 15px;
}
#comentarioss{
    background-color: rgb(63, 63, 63);
    color: white;
    display: grid;
    padding-bottom: 15px;
    height: 60vh;
    text-align: center;
    padding-left: 5px;
    padding-top: 70px;
}
#comentarioss img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid gold;
    border-radius: 50%;
}
#comentarioss h2{
    padding-top: 22px;
    font-size: 22px;
}
#comentarioss p{
    padding-top: 22px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding-top: 17%;
}
#comentarioss .carousel-control-next-icon {
    background-color: gold;
    border-radius: 2px;
}
#comentarioss .carousel-control-prev-icon {
	background-color: gold;
    border-radius: 2px;
}

#pedido{
    background-color:rgb(252, 252, 248);
    padding-top: 10px;
    padding-bottom: 50px;
    height: 100%;
    text-align: left;
}
#pedido h1{
    font-size: 20px;
    padding-bottom: 20px;
}

#pedido .formu input{
    width: 100%;
    height: 38px;
    text-align: left;
    border-radius: 5px;
}
#pedido .formu{
    width: 95%;
    background-color: rgb(252, 252, 248);
    padding-left: 20px;
}
#quems{
    background-color:rgb(252, 252, 248);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}
#quems .col-md-5 img{
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 0 5px 7px rgb(40, 40, 40);
}

#quems .col-md-5 img:hover{
    transform: translateY(-4px);
    opacity: 9;
    background-color: black;
    animation: jumpes 1s linear infinite;
}
#quems .carta{
    background-color: rgb(252, 252, 248);
    padding-top: 20px;
    padding-bottom: 20px;
}

#contactos .cont{
    background-color:rgb(12, 12, 9);
}
#contactos h3{
    color: gray;
    font-size: 18px;
    padding-top: 20px;
}
#contactos p{
    font-size: 16px;
    padding-top: 5px;
}
#quem{
    background-color: rgb(252, 252, 248);
    padding-top: 78px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 5px;
}
#cardapio{
    background-color: rgb(252, 252, 248);
    padding-top: 78px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 5px;
}
#contactoos{
    background-color: rgb(252, 252, 248);
    padding-top: 78px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
#localizacao{
    background-color: rgb(252, 252, 248);
    padding-top: 78px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}
#polaroid .carousel-inner img{
    width: 90vw;
    height: 92vh; 
    background-size: cover;
    opacity: 0.9;
    background-color: black;
}
#polaroid .cor icon{ 
    color: goldenrod;
}
#rodape2 p{
    background-color: #252525;
    color: beige;
}
.waves{
    position: absolute;
    bottom: 0px;
}
#imagem img{
    width: 15vw;
    height: 20vh;
    justify-content: center;
    text-align:center
}
#imagem span{
    padding-left: 23%;
    font-size: 16px;
}
#rodape2 .ola1{
    font-size: 13px;
}
#imagem{
    padding-bottom: 20px;
}
@media screen and (max-width:600px) {
    #col-md-5{
        display: block;
    } 
    #navega ul{
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 1px;
    }
    #polaroid .carousel-inner img{
        width: 90vw;
        height: 50vh;
        overflow: hidden;
        background-color: rgba(0,0,0,0.8);
        background-size: cover;
        opacity: 0.9;
    }
    #imagem img{
        width: 30vw;
        height: 15vh;
    }
    #imagem{
        padding-bottom: 30px;
        padding-left: 1px;
        text-align: center;
    }
    #imagem span{
        padding-left: 1%;
    }
    #por{
        padding-left: 80px;
    }
    #contactos h3{
        color: gray;
        font-size: 18px;
        padding-top: 15px;
    }
    #pedido h1{
        font-size: 18px;
        padding-bottom: 14px;
    }
    #contactos p{
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 15px;
    }
    #comentario{
        padding-top: 5px;
        padding-bottom: 18px;
    }
    #comentarioss img{
        width: 110px;
        height: 110px;
    }
    #comentarioss{
        height: 370px;
        padding-top: 30px;
    }
    #comentarioss p{
        padding-top: 18px;
    }
    #comentarioss h2{
        padding-top: 30px;
    }
    #quems .carta{
        background-color:rgb(252, 252, 248);
        padding: 40px;
        padding-left: 40px;
    }
    .scrollTop{
        outline: none;
        border: 0;
        background-color: gold;
        width: 28px;
        height: 28px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 10px;
        bottom: 15px;
        z-index: 999;
        opacity: 0;
        cursor: pointer;
        transition: 1s;
    } 
    .scrollTop img{
        width: 40px;
        transform: rotate(720deg);
    }
    .ola img{
        align-items: center;
        width: 33%;
        height: 33%;
        padding-bottom: 5px;
    }
    #localizacao{
        padding-top: 5px;
        padding-bottom: 1px;
    }
    #contactoos{
        padding-top: 3px;
        padding-bottom: 5px;
    }
    #quem{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #cardapio{
        padding-top: 28px;
        padding-bottom: 5px;
    }
}


